%h1
  = @subject.name
  %small
    = @subject.study_semester.ordinalize
    semester
- @subject.question_sets.each do |qs|
  .col-sm-4.col-md-2
    %a{:href => question_set_path(qs), :class => "thumbnail tile tile-medium tile-#{question_set_color(qs)}"}
      %h2.tile-content
        = qs.name
        %br/
        (#{qs.questions.count})