!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title QAB
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script{type: "text/x-mathjax-config"}
      :plain
        MathJax.Hub.Config({
          tex2jax: {
            inlineMath: [["^^","^^"]]
          }
        });
    = javascript_include_tag 'http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'
    = csrf_meta_tags
  %body
    = render 'layouts/navigation'
    .container
      %main{:role => "main", style: 'padding-top: 10px'}
        = render 'layouts/messages'
        = yield